*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Mulish", sans-serif;
}
.container{
    max-width: 1200px;
    margin: 0 auto;
}

header {
   
 
    align-items: center;
justify-content: space-between;
margin: 30px 0;



}


header .container {
    display: flex;
    align-items: center;
    justify-content: space-between;


    
}
nav ul {
    list-style: none;
    display: flex;
    align-items: center;
    padding: 30px;
    gap: 50px;
}

nav ul li a {
    text-decoration: none;
 color: black;
  font-size: 20px;
  
  

}
.img{
    color: black;
    font-family: "Orbitron", sans-serif;
font-weight: 800;
font-size: 32px;
}
.menu-btn{
    display: none;

}
.icons{
    color: black;
    font-size: 24px;
    margin-left: 200px;
}
.text{
    margin-top: 130px;
}
.text h1{
font-weight: 700;
font-style: Bold;
font-size: 72px;
line-height: 72px;
letter-spacing: 0%;
}
.text p{
color: #7B7583;
font-weight: 400;
font-size: 22px;
line-height: 36px;
letter-spacing: 0%;
}
.text button{
    width: 266.75px;
height: 66px;
border-radius: 50px;
border: none;
background: linear-gradient(62.05deg, #2600FC 0%, #FF00EA 100%);
color: white;
font-weight: 700;
font-size: 17px;
text-align: center;
}
.hero{
    display: flex;
    justify-content: space-around;
    margin: 200px 0;
}

.image{
    margin: 100px 0;
    margin-left: 100px;
}
.center{
    margin-bottom: 50px;
    text-align: center;
margin-top: 100px;
font-weight: 700;
font-size: 64px;
}
span{
    color: #FF00EA;
}
.card img{
    width: 264px;
height: 352px;
border-radius: 16px;

}
.card h2{
font-weight: 700;
font-size: 28px;
text-align: center;
margin-top: 20px;
}
.card p{
    font-size: 15px;
    font-weight: 400;
    color: #7B7583;
    text-align: center;
}
.cards{
    display: flex;
    justify-content: space-around;
    margin-bottom: 100px;
}
.btn{
    width: 240px;
height: 64px;
border-radius: 50px;
margin: 100px 0;
background: linear-gradient(60.27deg, #2600FC 0%, #FF00EA 100%);
border: none;
color: white;
font-size: 17px;
font-weight: 700;
margin-left:480px;
}
.di{
    margin-left: 565px;
    margin-bottom: 150px;
}
.kard{
    width: 277px;
height: 350px;
border: 1px solid #83838340;
gap: 34px;
border-radius: 24px;
padding-top: 49px;
padding-right: 33px;
padding-bottom: 48.99px;
padding-left: 33px;
}
.kard img{
    margin-bottom: 35px;
}
.kard h2{
font-weight: 700;
font-size: 28px;
margin-bottom: 25px;
}
.kard p{
font-size: 17px;
font-weight: 400;
color: #7B7583;
}
.kard2{
    width: 277px;
height: 377px;
gap: 34px;
border-radius: 24px;
padding-top: 49px;
padding-right: 33px;
padding-bottom: 48.99px;
padding-left: 33px;
border: 1px solid #83838340;
margin-top: 50px;

}
.kard2 img{
    margin-bottom: 35px;
}
.kard2 h2{
font-weight: 700;
font-size: 28px;
margin-bottom: 25px;
}
.kard2 p{
font-size: 17px;
font-weight: 400;
color: #7B7583;
}
.ota{
    display: flex;
    justify-content: space-around;
    margin-bottom: 100px;
}
.small h1{
font-weight: 700;
font-size: 71px;
text-align: center;
}
.small p{
    color: #7B7583;
    font-size: 17px;
    margin-top: 5px;
    text-align: center;
}
.hero4{
    display: flex;
    justify-content: space-around;
    margin-bottom: 100px;
}
.text5 h2{
font-weight: 700;
font-size: 19px;
margin-bottom: 10px;
}
.text5 h1{
    font-size: 56px;
    font-weight: 700;
    margin-bottom: 20px;
}
.text5 p{
    color: #7B7583;
    font-size: 19px;
font-weight: 400;
margin-bottom: 25px;
}

.text5 button{
    margin-top: 10px;
    font-size: 17px;
    font-weight: 700;
    color: black;
    border: none;
    background-color: white;
    transition: 1s;
    border-radius: 10px;
    width: 148px;
    height: 51px;
}
.text5 button:hover{
    background: linear-gradient(60.42deg, #2600FC 0%, #FF00EA 100%);
color: white;
}
.hero5{
    display: flex;
    justify-content: space-around;
    margin: 100px 0;
}
.text6 h2{
    font-weight: 700;
    font-size: 19px;
    margin-bottom: 10px;
    }
    .text6 h1{
        font-size: 56px;
        font-weight: 700;
        margin-bottom: 20px;
    }
    .text6 p{
        color: #7B7583;
        font-size: 19px;
    font-weight: 400;
    margin-bottom: 25px;
    }
    
    .text6 button{
        margin-top: 10px;
        font-size: 17px;
        font-weight: 700;
        color: black;
        border: none;
        background-color: white;
        transition: 1s;
        border-radius: 10px;
        width: 148px;
        height: 51px;
    }
    .text6 button:hover{
        background: linear-gradient(60.42deg, #2600FC 0%, #FF00EA 100%);
    color: white;
    }
.text6{
    margin-top: 150px;
}
.vlong h1{
font-weight: 700;
font-size: 64px;
text-align: center;
margin-bottom: 20px;
}
.vlong{
    width: 1200px;
height: 315px;
border-radius: 32px;
padding-top: 61px;
padding-bottom: 61px;
padding-left: 57px;
border: 1px solid #83838340;
margin-bottom: 100px;
}
.vlong p{
    text-align: center;
    font-weight: 400;
    font-size: 17px;
    margin-bottom: 30px;
    color: #7B7583;
}
.vlong input{
    width: 376px;
height: 47px;
opacity: 1;
border-radius: 50px;
padding-left: 25px;
border: none;
font-size: 15px;
font-weight: 400;
}
.vlong button{
    width: 123px;
height: 47px;
border-radius: 50px;
color: white;
background: linear-gradient(50.62deg, #2600FC 0%, #FF00EA 100%);
font-weight: 700;
font-size: 15px;
text-align: center;
border: none;
}
.inp{
  margin-left: 310px;
}
.p1{
    display: flex;
    margin-bottom: 30px;
}
.p1 h2{
    font-weight: 700;
    font-size: 16px;
    margin-top: 25px;
}
.p1 img{
margin-left: 200px;
}
.card7{
    width: 368px;
height: 520px;
border-radius: 32px;
border: 1px solid #83838340;
padding-left: 30px;
padding-top: 30px ;
padding-bottom: 30px ;
}
.card7 h1{
font-weight: 700;
font-size: 32px;
margin-bottom: 30px;
}
.card7 p{
    font-weight: 400;
    font-size: 19px;
    color: #7B7583;
    margin-bottom: 50px;
}
.card7 h4{
   font-weight: 400;
   font-size: 17px;
margin-left: 20px;

}
.hero7{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    gap: 35px;
    margin-bottom: 100px;
}
.thre h2{
    margin-top: 15px;
    font-size: 22px;
    font-weight: 700;
    text-align: center;
}
.thre p{
    color: #7B7583;
    font-weight: 400;
    font-size: 15px;
    text-align: center;
}
.heroimg{
    display: flex;
    justify-content: space-around;
    margin-bottom: 200px;
}
.thre1 h2{
    margin-top: 15px;
    font-size: 22px;
    font-weight: 700;
    text-align: center;
}
.thre1 p{
    color: #7B7583;
    font-weight: 400;
    font-size: 15px;
    text-align: center;
}
.thre1{
    margin-top: 30px;
}
.big{
    width: 650px;
height: 600px;
border-radius: 24px;
border: 1px solid #83838340;
padding-left: 30px;
padding-right: 20px;
padding-top: 30px;
padding-bottom: 30px;
margin-left: 270px;
margin-bottom: 100px;
}
.big h1{
    font-size: 27px;
    font-weight: 700;
    margin-bottom: 30px;
}
.big p{
    font-size: 19px;
    font-weight: 400;
    color: #7B7583;
}
hr{
    margin: 20px 0;
    color: #7B7583;
}
.big h2{
    font-size: 20px;
    font-weight: 700;
}
.omg h1{
    margin-bottom: 20px;
font-weight: 700;
font-size: 96px;
text-align: center;
}
.omg p{
    font-size: 22px;
    font-weight: 400;
    color: #7B7583;
    margin-bottom: 50px;
    text-align: center;
}
.omg button{
    width: 213px;
    height: 62px;
    border-radius: 50px;
    color: white;
    border: none;
    background: linear-gradient(58.08deg, #2600FC 0%, #FF00EA 100%);
font-size: 18px;
font-weight: 700;
margin-left: 490px;
}
.box{
    background-image: url("./div.cta-bg.png");
margin-bottom: 100px;

padding-top: 148px;
padding-bottom: 128px;
background-repeat: no-repeat;
background-size: cover;
}
.col1 img{
    margin-bottom: 30px;
}
.col1 p{
margin-bottom: 30px;
font-weight: 400;
font-size: 17px;
line-height: 27px;
letter-spacing: 0%;
color: #7B7583;
}
.ikon{
    font-size: 20px;
    gap: 100px;
}
.part1{
    display: flex;
    justify-content: space-between;
    margin-bottom: 100px;
}

.col2{
    display: flex;
    gap: 100px;
}
.ftext1 h2{
    font-size: 22px;
    font-weight: 700;
}
.ftext1 p{
    color: #7B7583;
    font-size: 17px;
    font-weight: 400;
}
.part2 p{
    color: #7B7583;
    font-size: 14px;
    font-weight: 400;
}
.part2{
    display: flex;
    justify-content: space-between;
    padding: 30px 0;
}
.diav{
    display: flex;
    gap: 50px;
}
nav ul li a:hover{
    color: #FF00EA;
    transition: 1s;
}
.icons i:hover{
    color: #FF00EA
    ;
transition: 1s;
}
@media(max-width: 768px){
    .menu-btn{
        display: block;
        border: none;
        color: #FF00EA;
        background-color: inherit;
    }
    nav{
        display: none;

    }
    .hero{
        flex-direction: column;
        flex-wrap: wrap;
        justify-content: center;
    }
    .image{
        display: none;

    }
    .center{
        display: none;
    }
    .cards{
        flex-direction: column;
        flex-wrap: wrap;
        justify-content: center;
    }
    .card h2{
        display: none;
    }
    .card p{
        display: none;
    }
    .btn{
        display: none;
    }
    .ota{
        flex-direction: column;
        justify-content: center;
        flex-wrap: wrap;
    }
    .hero4{
        justify-content: center;
        flex-wrap: wrap;
        flex-direction: column;
    }
    .hero5{
        flex-direction: column;
        justify-content: center;
        flex-wrap: wrap;
    }
    .vlong{
        display: none;
    }
    .hero7{
        flex-direction: column;
        justify-content: center;
        flex-wrap: wrap;
    }
    .heroimg{
        flex-direction: column;
        flex-wrap: wrap;
        justify-content: center;
    }
    .box{
        display: none;
    }
    .part1{
        flex-direction: column;
        justify-content: center;
        flex-wrap: wrap;
    }
    .part2{
        justify-content: center;
        flex-wrap: wrap;
        flex-direction: column;
    }
}